**/node_modules
**/package-lock.json
*/npm-debug.log
deploy/node-express
deploy/nginx/frontend
deploy/nginx/ssl
deploy/mongo_db
deploy/node-test/ssl
deploy/node-test/public
frontend/public/aot
frontend/public/app
frontend/public/js
frontend/src/**/*.js
frontend/src/**/*.map
backend/ssl
sql/*.sql
sql/*.mwb*
trys/
